<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<link rel="stylesheet" type="text/css" href="/media/table.css">

<h1>Список велосипедів у магазині <br>{{text}}</h1>
<a href="/bicycle-store/all/view/seller/">Всі</a>
<a href="/bicycle-store/view/seller/">Наявні</a>
<b> Рік: </b>
<a href="/bicycle-store/view/seller/year/2012/">2012</a>
<a href="/bicycle-store/view/seller/year/2013/">2013</a>

<br>
<b>Розмір рами:</b>
{% for size in sizes %}
<a href="/bicycle-store/view/seller/bysize/{{size.id}}/">{{size.name}}</a>
{% endfor %}

<b>Виробники:</b>
{% for comp in b_company %}
<a href="/bicycle-store/view/seller/bycompany/{{comp.model__brand}}/">{{comp.model__brand__name}}[{{comp.num_company}}]</a>
{% endfor %}

{% load template_math %}   

<table border="1">
    <tr>
    	<th>#</th>
    	<th>ID</th>
    	<th>Велосипед</th>
    	<th>Номер рами</th>
    	<th>Розмір рами</th>
    	<th>Ціна</th>
    	<th>Знижка</th>
    	<th>Нова ціна</th>
    <!-- <th>Опис</th> 
    	<th>Реалізація</th> -->
		<th>Кількість</th> 
		<th>Дата</th>
    	<th>Дія</th>
    </tr>    
    
{% for type in bicycles %}
{% ifequal type.count 0 %}
<tr>
{% else %}
<tr BGCOLOR="#CCCC99">
{% endifequal %}

	<td>
	{{forloop.counter}}
	</td>
	<td>       
	<a href="/bicycle/sale/id/{{type.id}}/view/">{{type.id}}</a> 
	</td>
	<td>
	<a href="/bicycle/photo/{{type.model.id}}">{{type.model}}</a>       
	</td>
	<td>       
	{{type.serial_number}}
	</td>
	<td>       
	{{type.size}}
	</td>
	<td>
	{{type.model.price}}       
	</td>
	<td align="center">
	{{type.model.sale|floatformat:"0"}}%       
	</td>
	<td align="center">
	{{type.model.sale|div:-100|sub:-1|mul:type.model.price|floatformat:"0"}} грн.       
	</td>


	
<!-- <td>       
	{{type.description}}
	</td>
 -->	
<!--	<td align="center">
 	<img src="/media/{{type.photo}}" alt="" title=""/>         
	{{type.realization}}
	</td>	
	-->
	{% ifequal type.count 1 %}
			<td align="center">
			<abbr title="Продати велосипед"><a href="/bicycle/sale/add/{{type.id}}">{{type.count}}</a></abbr>
			</td>
		{% else %}
			<td align="center">{{type.count}}</td>
		{% endifequal %}
	<td>       
	{{type.date|date:"D d M Y"}}
	</td>
	<td>
    <a href="/bicycle-store/edit/{{ type.id }}">edit</a>
    <br>	
    <a href="/bicycle-store/delete/{{ type.id }}">delete</a>
    </td>
</tr>
{% endfor %}       


<tr>
    	<th></th>
    	<th></th>
    	<th></th>
    	<th></th>
    	<th></th>
    	<th>{{price_summ}}</th>
<!--     	<th>{{real_summ}}</th>   -->
<th></th>
<th></th>
		<th>{{bike_summ}}</th> 
		<th></th>
    	<th></th>
    </tr>        
   
<table>

<br><br>
<a href="/bicycle/store/report/sum/">Сумарна вартість велосипедів у магазині</a>
<br>
<a href="/bicycle/view/">Каталог велосипедів</a>
<br>
<a href="/bicycle-store/add/">Додати Велосипед в Магазин (Add Bicycle to shop)</a>        

