<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<html lang="en">

    <h1>Створення нового розміру рами (Frame size)</h1>
    <form action="." method="POST">
        <table>
            {{ form.as_ul }}
        </table>
        <p><input type="submit" value="Save"></p>
    </form>
    <br>
<br>
<a href="/bicycle-framesize/view/">Список розмірів рам</a>
<br>
<a href="/bicycle-framesize/add/">Додати новий розмір (Add)</a>
<br>
<a href="/bicycle-store/add/">Додати велосипед до магазину(Add)</a>        



