<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<link rel="stylesheet" type="text/css" href="/media/table.css">

<h1>Список проданих велосипедів</h1>

<table border="1">
	<tr>
		<th>№</th>
		<th>ID</th>
		<th>Велосипед</th>
		<th>Номер рами</th>
		<th>Клієнт</th>
		<th>Ціна</th>
		<th>Валюта</th>
		<th>Дата</th>
		<th>Сервіс</th>
		<th>Опис</th>
		<th>Дія</th>
	</tr>

	{% for type in bicycles %}
	<tr>
		<td>{{forloop.counter}}</td>
		<td><a href="/bicycle/sale/edit/{{ type.id }}">{{type.id}}</a></td>
		<td><a href="/bicycle/photo/{{type.model.model.id}}">{{type.model}}</a></td>
		<td>{{type.model.serial_number}}</td>
		<td><a href="/client/{{type.client.id}}">{{type.client}}</a></td>
		<td>{{type.price}}</td>
		<td>{{type.currency}}</td>
		<td>{{type.date|date:"D d M Y"}}</td>
		<td>{{type.service|yesno:"Пройдено,Непройдено,Невідомо"}}</td>
		</td>
		<td>{{type.description}}</td>
		<td><a href="/bicycle/sale/delete/{{ type.id }}">delete</a></td>
	</tr>
	{% endfor %}

	<tr>
		<th></th>
		<th></th>
		<th></th>
		<th></th>
		<th></th>
		<th>{{price_summ}}</th>
		<th>грн</th>
		<th>Не пройдено ТО:</th>
		<th>{{service_summ}}</th>
		<th></th>
		<th></th>
	</tr>

	<table>

		<br>
		<br>
		<a href="/">HOME</a>
		<br>
		<a href="/bicycle/sale/add/">Add</a>