<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN">
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<link rel="stylesheet" type="text/css" href="/media/table.css">

<h1>Список замовлених велосипедів ({{bicycles.count}}) <a href="/bicycle/order/add/">(Додати замовлення)</a></h1>
<h2>
    За рік: 
	<a href="/bicycle/order/year/2012/view">2012,</a>
	<a href="/bicycle/order/all/view">Всі</a>
</h2>    


<table border="1">
	<tr>
		<th>#</th>
		<th>ID</th>
		<th>Назва моделі</th>
		<th>Клієнт</th>
		<th>Тип</th>
		<th>Бренд</th>
		<th>Рік</th>
		<th>Колір</th>
		<th>Розмір</th>
		<th>Фото</th>
		<th>Вага</th>
		<th>Ціна</th>
		<th>Завдаток</th>
		<th>Валюта</th>
		<!--    	<th>Опис</th> -->
		<th>Edit</th>
		<th>Дія</th>
	</tr>

	{% for type in order %}
	<tr>
		<td>{{forloop.counter}}</td>
		<td><a href="/bicycle-store/add/{{type.id}}">{{type.id}}</a></td>
		<td><a href="/bicycle/photo/{{type.model.id}}">{{type.model}}</a></td>
		<td><a href="/client/result/search/?id={{type.client.id}}">{{type.client}}</a></td>
		<td>{{type.model.type}}</td>
		<td>{{type.model.brand}}</td>
		<td>{{type.model.year}}</td>
		<td>{{type.model.color}}</td>
		<td>{{type.size}}</td>
		<td><!-- 	<img src="/media/{{type.photo}}" alt="" title=""/>  -->
		{{type.model.photo}}</td>
		<td>{{type.model.weight}}</td>
		<td>{{type.price}}</td>
		<td>{{type.prepay}}</td>
		<td>{{type.currency}}</td>
		<!-- 	<td>
	{{type.description}}
	</td>
 -->
		<td><a href="/bicycle/edit/{{ type.id }}">edit</a></td>

		<td><a href="/bicycle/order/{{ type.id }}/delete">delete</a></td>
	</tr>
	{% endfor %}

	<table>


		<br>
		<br>
		<a href="/">Головне меню (HOME)</a>
		<br>
		<a href="/bicycle/add/">Додати велосипед (Add)</a>
		<br>
		<a href="/bicycle-store/add/">Додати велосипед до магазину(Add)</a>