<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />

<html lang="en">
<head>
{% include "top.html" %}
    <title>Розміри велосипедних рам</title>
    <link rel="stylesheet" type="text/css" href="/media/table.css">
</head>

<body>
    <h1>Розміри рам</h1>

    <table>
    <tr>
    	<th>ID</th>
    	<th>Назва</th>
    	<th>Розмір (см)</th>
    	<th>Розмір (дюйми)</th>
    	<th>Дія</th>
    </tr>
    
    
{% for size in framesizes %}
<tr>
{% comment %} <td>{{size|first}}</td> {% endcomment %}
{% for field in size %}
<td>    {{field}} </td>
{% endfor %}

<td><a href="/bicycle/framesize/delete/{{ size|first }}/">delete</a></td>
</tr>
{% endfor %}
    
    <table>

<br><br>
<a href="/">Головна сторінка (HOME)</a>
<br>
<a href="/bicycle-framesize/add/">Додати новий розмір (Add)</a>
<br>
<a href="/bicycle-store/add/">Додати велосипед до магазину(Add)</a>        

</body>
</html>