<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN">
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<link rel="stylesheet" type="text/css" href="/media/table.css">
    
<a href="/catalog/add/">Додати новий товар</a>    
    
    <h1>Список Продукції  ({{catalog.count}})</h1>

    <table>
	<tr>
    	<th>ID</th>
    	<th>Код</th>
    	<th>Назва</th>
    	<th>Виробник</th>
    	<th>Тип</th>
    	<th>Розмір</th>
    	<th>Вага</th>
    	<th>Фото</th>
    	<th>Рік виготовлення</th>
    	<th>Дата закінчення розпродажу</th>
    	<th>Колір</th>
    	<th>Ціна</th>
    	<th>Валюта</th>
    	<th>Ціна зі знижкою</th>
    	<th>Країна</th>
    	<th>Опис</th>
    	<th>Дія</th>
    </tr>

{% for type in catalog %}
<tr>
	<td>       
	{{type.id}}
	</td>
	<td>       
	{{type.ids}}
	</td>
	<td>       
	<a href="/catalog/edit/{{ type.id }}">{{type.name}}</a>
	</td>
	<td>       
	{{type.manufacturer}}
	</td>
	<td>       
	{{type.type}}
	</td>
	<td>       
	{{type.size}}
	</td>
	<td>       
	{{type.weight}}
	</td>	
	<td>       
	{{type.photo}}
	</td>	
	<td>       
	{{type.year}}
	</td>
	<td>       
	{{type.sale_to}}
	</td>
	<td>       
	{{type.color}}
	</td>
	<td>       
	{{type.price}}
	</td>
	<td>       
	{{type.currency}}
	</td>	
	<td>       
	{{type.sale}}
	</td>
	<td>       
	{{type.country}}
	</td>	
	<td>       
	{{type.description}}
	</td>
	<td>
    <a href="/catalog/delete/{{ type.id }}" onclick="return confirm('Видалити запис?')">delete</a>
    </td>
</tr>
{% endfor %}   
    
    
    <table>

<br><br>
<a href="/">HOME</a>    
<br>
<a href="/catalog/add/">Add</a> 


