<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />

<script language="JavaScript">

function res()
{
var p=0;
var All=document.forms['formSum'];
for(var i = 0; i < All.elements.length; ++i) {
	if(All.elements[i].checked){
	p=p+parseFloat(All.elements[i].value);
	var t = i + 1
	document.getElementById("ch_"+t).innerHTML = parseFloat(All.elements[i].value) * (1 - parseFloat(document.getElementById("sale").value) / 100) + 'грн.';
	}
	document.getElementById('for_pay').innerHTML = p.toFixed(2)+" грн.";
}
}

</script>

<html lang="en">
<head>
    <title>Список товару</title>
    <link rel="stylesheet" type="text/css" href="/media/table.css">
</head>
<body>

{% for category in category_list %}
<b> | </b> <a href="/invoice/category/{{category.id}}/view/">{{category.name_ukr}}</a>
{% endfor %}

{% for company in company_list %}
<a href="/invoice/manufacture/{{company.id}}/view/">{{company.name}}</a>
{% endfor %}

    <h1>Список наявного товару ({{company_name}}{{category_name}})</h1>
{%if company_id %}
    <a href="/invoice/manufacture/{{company_id}}/view/"> Всі </a>,  
    <a href="/invoice/manufacture/{{company_id}}/availability/view/"> Наявний </a>,
    <a href="/invoice/manufacture/{{company_id}}/availability/view/html/"> Наявність HTML </a>
{% endif %}    

<form action="/catalog/saleform/" method="post" name="formSum">
    <table border="1" width="100%">
	<tr>
    	<th ROWSPAN="2">#</th>	
    	<th ROWSPAN="2">ID</th>

{% if perms.accounting.delete_invoicecomponentlist %}
	<th ROWSPAN="2">
	</th>
{% endif %}

    	<th ROWSPAN="2">Найменування товару</th>
    	<th align="center" COLSPAN="3" width="80px">Кількість</th>
    	
    	<th ROWSPAN="2">Ціна</th>
    	<th ROWSPAN="2">Сума</th>    	
    	<th ROWSPAN="2">Опис</th>
    </tr>
    <tr>
    	<th align="center" width="10">Поч.</th>
    	<th align="center" width="10">Продано</th>
    	<th align="center">Наявність</th>
    </tr>
    
{% load template_math %}    
    
{% for type in componentlist %}


{% ifequal type.sum_catalog type.c_sale %}
<tr BGCOLOR="#CCCC99">
{% else %}
{% ifequal type.balance 1 %}
<tr BGCOLOR="#FFFF99">
{% else %}
<tr>
{% endifequal %}
{% endifequal %}

	<td>
	{{forloop.counter}}
	</td>
	<td>       
		<a href="/catalog/id/{{type.catalog}}/view">{{type.catalog}}</a>
	</td>
{% if perms.accounting.delete_invoicecomponentlist %}	
	<td>
{#		<input type="checkbox" id="model_workshop{{forloop.counter}}" value="{{type.sum_catalog|sub:type.c_sale|mul:type.catalog__price|floatformat}}" name="checkbox_{{ type.catalog }}"/ onclick="res()">  #}
		<input type="checkbox" id="model_workshop{{forloop.counter}}" value="{{type.catalog__price|floatformat}}" name="checkbox_{{ type.catalog }}"/ onclick="res()">		
		<p id="ch_{{forloop.counter}}"></p>
	</td>
{% endif %}
	<td>
	[{{type.catalog__ids}}] - ({{type.catalog__manufacturer__name}}) {{type.catalog__name}}
	</td>
	<td align="center">
	<a href="/invoice/catalog/{{type.catalog}}/view/">
	{{type.sum_catalog}} {% comment %} --- {{type.catalog__count}}  {% endcomment %}
	</a>
	</td>
	<td align="center">
	<a href="/client/invoice/catalog/{{type.catalog}}/view/">
	{{type.c_sale}}
	</a>
	</td>
	<td align="center">
{% ifequal type.sum_catalog type.c_sale %}
		{{type.sum_catalog|sub:type.c_sale|floatformat}}
{% else %}
		<abbr title="Продати товар"> 
		<a href="/client/invoice/catalog/{{type.catalog}}/add">
		{{type.sum_catalog|sub:type.c_sale|floatformat}}
		</a>
		</abbr>
{% endifequal %}
	</td>
	
{% ifequal type.catalog__sale 0 %}
<td align="center">
{% else %}
<td align="center" BGCOLOR="#FF6600">
<abbr title="Знижка - {{type.catalog__sale}}%. Ціна зі знижкою {{type.catalog__sale|div:100|sub:1|mul:type.catalog__price}}">
{% endifequal %}
	
	
	{{type.catalog__price}} грн.
	</td>
	<td>       
	{{type.catalog__price|mul:type.sum_catalog}}
	</td>
	<td align="center">    
	</td>

</tr>
{% endfor %}         
	<tr>
    	<th></th>	
    	<th></th>
{% if perms.accounting.delete_invoicecomponentlist %}    	
    	<th> <p id="for_pay" BGCOLOR="#D5FFB4"></p>
    	<p>Знижка:<br> <input type="text" name="sale" id="sale" width="5px" value="0"></p>
    	<input type="submit" value="Знижка" name="pay"></th>
{% endif %}    	
    	<th></th>
    	<th>{{countsum}}</th>
    	<th></th>
    	<th>Кількість: {{zcount}}</th>
    	<th>{{allpricesum}} грн.</th>    	
    	<th>{{zsum}} грн.</th>
    	<th></th>    	
    </tr>
    
</table>
</form>
    


</body>
</html>