<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<html lang="en">
<head>
    <title>Список товару</title>
    <link rel="stylesheet" type="text/css" href="/media/table.css">
</head>
<body>

{% for category in category_list %}
<b> | </b> <a href="/invoice/category/{{category.id}}/view/">{{category.name_ukr}}</a>
{% endfor %}

{% for company in company_list %}
<a href="/invoice/manufacture/{{company.id}}/view/">{{company.name}}</a>
{% endfor %}

    <h1>Список наявного товару ({{company_name}}{{category_name}})</h1>

    <table border="1" width="100%">
	<tr>
    	<th ROWSPAN="2">#</th>	
    	<th ROWSPAN="2">ID</th>
    	<th ROWSPAN="2">Найменування товару</th>
    	<th align="center" COLSPAN="3" width="80px">Кількість</th>
    	
    	<th ROWSPAN="2">Ціна</th>
    	<th ROWSPAN="2">Сума</th>    	
    	<th ROWSPAN="2">Опис</th>
    </tr>
    <tr>
    	<th align="center" width="10">Поч.</th>
    	<th align="center" width="10">Продано</th>
    	<th align="center">Наявність</th>
    </tr>
    
{% load template_math %}    
    
{% for type in componentlist %}

{% ifequal type.sum_catalog type.c_sale %}
<tr BGCOLOR="#CCCC99">
{% else %}
<tr>
{% endifequal %}

	<td>
	{{forloop.counter}}
	</td>
	<td>       
		<a href="/catalog/id/{{type.catalog}}/view">{{type.catalog}}</a>
	</td>
	<td>
	[{{type.catalog__ids}}] - ({{type.catalog__manufacturer__name}}) {{type.catalog__name}}
	</td>
	<td align="center">
	<a href="/invoice/catalog/{{type.catalog}}/view/">
	{{type.sum_catalog}}
	</a>
	</td>
	<td align="center">
	<a href="/client/invoice/catalog/{{type.catalog}}/view/">
	{{type.c_sale}}
	</a>
	</td>
	<td align="center">
{% ifequal type.sum_catalog type.c_sale %}
		{{type.sum_catalog|sub:type.c_sale|floatformat}}
{% else %}
		<abbr title="Продати товар"> 
		<a href="/client/invoice/catalog/{{type.catalog}}/add">
		{{type.sum_catalog|sub:type.c_sale|floatformat}}
		</a>
		</abbr>
{% endifequal %}
	</td>
	<td align="center">
	{{type.catalog__price}} грн.
	</td>
	<td>       
	{{type.catalog__price|mul:type.sum_catalog}}
	</td>
	<td align="center">    
	</td>

</tr>
{% endfor %}         
	<tr>
    	<th></th>	
    	<th></th>
    	<th></th>
    	<th>{{countsum}}</th>
    	<th></th>
    	<th>Кількість: {{zcount}}</th>
    	<th>{{allpricesum}} грн.</th>    	
    	<th>{{zsum}} грн.</th>
    	<th></th>    	
    </tr>
    
</table>
    
    


</body>
</html>