<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN">
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />

    <link rel="stylesheet" type="text/css" href="/media/table.css">
    <h1>Список виробників</h1>

    <table>
	<tr>
    	<th>ID</th>
    	<th>Назва компанії</th>
    	<th>Адреса</th>
    	<th>Логотип</th>
    	<th>Країна</th>
    	<th>Дія</th>
    </tr>
    
{% for type in manufactures %}
<tr>
	<td>       
	{{type.id}}
	</td>
	<td>       
	{{type.name}}
	</td>
	<td>       
	{{type.www}}
	</td>
	<td>       
	{{type.logo}}
	</td>
	<td>       
	{{type.country}}
	</td>	
	<td>
    <a href="/manufacturer/delete/{{ type.id }}">delete</a>
    </td>
</tr>
{% endfor %}       
    

    <table>

<br><br>
<a href="/">HOME</a>    
<br>
<a href="/manufacturer/add/">Add</a> 


