<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />

<link rel="stylesheet" type="text/css" href="/media/menu.css">
<script language="javascript" src="/media/menu.js" type="text/javascript"></script>

<ul id="hmenu" >
	<li><a href="#">Робота з клієнтами</a>
		<ul>
			<li><a href="/client/view/">Клієнти</a></li>
			<li><a href="/clientdebts/view/">Боржники</a></li>
			<li><a href="/clientcredits/view/">Кредитори</a></li>
			<li><a href="/client/result/">Виписка</a></li>
		</ul>
	</li>
	<li><a href="#">Велосипеди</a>
	<ul>
			<li><a href="/bicycle-store/view/">Магазин</a></li>
			<li><a href="/bicycle/view/">Каталог велосипедів</a></li>
			<li><a href="/bicycle-type/view/">Типи велосипедів</a></li>
			<li><a href="/bicycle-framesize/view/">Розміри рам</a></li>
			<li><a href="/bicycle/sale/view/">Продаж</a></li>
		</ul>
	</li>
	<li><a href="#">Запчастини</a>
		<ul>
			<li><a href="/catalog/view/">Каталог</a></li>
			<li><a href="/catalog/manufacture/33/view/">По виробнику</a></li>
			<li><a href="#">Group #3</a></li>
			<li><a href="#">Group #4</a></li>
			<li><a href="/category/view/">Класифікатор</a></li>
		</ul>
	</li>
		<li><a href="#">Постачальники</a>
		<ul>
			<li><a href="/dealer/view/">Компанії</a></li>
			<li><a href="/dealer-manager/view/">Менеджери компаній</a></li>
			<li><a href="/dealer/invoice/view/">Накладні</a></li>
			<li><a href="/dealer/payment/view/">Оплати</a></li>
		</ul>
	</li>	
		<li><a href="#">Майстерня</a>
		<ul>
			<li><a href="/workgroup/view/">Групи робіт</a></li>
			<li><a href="/worktype/view/">Види робіт</a></li>
			<li><a href="/workshop/view/">Виконані роботи</a></li>
			<li><a href="/workstatus/view/">Статус роботи</a></li>
			<li><a href="/workticket/view/">Заявка</a></li>
			<li><a href="/manyforms/2">Тестовий формсет 1</a></li>
			<li><a href="/manyforms/test/">Тестовий формсет 2</a></li>
			<li><a href="/manyforms/test1/">Тестовий формсет 3</a></li>
			
		</ul>
	</li>	
		<li><a href="#">Власні затрати</a>
		<ul>
			<li><a href="/cost/type/view/">Види затрат</a></li>
			<li><a href="/cost/view/">Затрати</a></li>
		</ul>
	</li>
	<li><a href="#">Довідники</a>
		<ul>
			<li><a href="/country/view/">Країни</a></li>
			<li><a href="/bank/view/">Банки</a></li>
			<li><a href="/curency/view/">Валюти</a></li>
			<li><a href="/exchange/view/">Курс Валют</a></li>			
			<li><a href="/manufacturer/view/">Виробники</a></li>
		</ul>
	</li>
	
</ul>
