<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN">
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<title>Оплата - {{client}}</title>

	<link rel="stylesheet" href="/media/jquery-ui.min.css">
	<script src="/media/jquery-ui.min.js"></script>	



{% load poll_extras %}

<script language="JavaScript">
$(document).ready(function() {
	$("#dialog_msg").hide();

	$( "#img_msg" ).click(function() {
  		$( "#dialog_msg" ).dialog({
  		resizable: false,
      	modal: true,
  		width: 380,
      	buttons: {
        "Додати": function() {
        	if (!$("#msg_text").length) { 
        	$( this ).append('<textarea type="text" id="msg_text" name="mytext[]" rows="10" cols="40"> </textarea>');
        	$( this ).append('<input type="button" class="ok_button" name="mytext[]" width="350" value="Відправити">');
        	}
        	//$( this ).dialog( "close" );
        },
        "Відмінити": function() {
        	$( this ).dialog( "close" );	
        },
        
        }  		
  		});
	});
});


function AllSum()
{
	document.getElementById('pay').value = {{summ|sub:balance}};
	document.getElementById('pay').focus();
	document.getElementById('pay').select();
	
//	alert('Спасибо');
}

function PaySum()
{
	document.getElementById('pay').value = {{summ}};
	document.getElementById('pay').focus();
	document.getElementById('pay').select();
}
    
</script>

<body onload="document.getElementById('pay').focus()">

<div id="dialog_msg" title="Повідомлення">
{% for msg in messages %}
<p><b>Message: </b> <br> {{msg.msg}} </p>
{% endfor %}  
</div>	


<div style="float:left;">    <h1>{{client}}</h1></div>
<div style="float:left;">
{% if messages %}
 <img style="display: True; opacity: 1" id="img_msg" src="/media/images/Message-ico.png" height="56px" title="Нові повідомлення">
{%endif%} 
</div>
<div style="clear:left;"><h2><font color="#fe6037"> Ваш рахунок: {{balance}} грн. </font></h2></div>

 
    <h2 onclick="PaySum()">До сплати: {{summ}} грн. </h2>
    <h2 onclick="AllSum()"> <font color="#006699"> Загальна сума: {{summ|sub:balance}} грн.</font></h2>
    
<form action="/client/payform/" method="POST">
        <p>Оплата: <input type="text" name="pay" id="pay" width="20" value="{{summ}}"></p>
        <p><input type="submit" value="Save"></p>
        
	<table border=1 width="65%" style="font-size : 12px; font-family : Arial;">
	<tr bgcolor="grey">
	<th>Дата</th>
	<th>Товар</th>
	<th>Кількість</th>
	<th>Прайс</th>
	<th>Сума</th>
	<th>Валюта</th>
	<th></th>
	</tr>
	
	{% for inv in invoice %}
	<tr>
	<td>
	{{inv.date}}
	</td>
	<td>
	{{inv.catalog}}
	</td>
	<td>
	{{inv.count}}
	</td>
	<td>
	{{inv.price}}
	</td>
	<td>
	{{inv.sum}}
	</td>
	<td>
	{{inv.currency}}
	</td>
	<td>
	<input type="checkbox" id="model{{forloop.counter}}" value="{{inv.sum}}" checked name="checkbox_{{ inv.id }}"/>
	</td>
	</tr>
	{% endfor %}          
    </table>    
</form>
	
	





