<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<title>Список ящиків</title>
<link rel="stylesheet" href="/media/jquery-ui.min.css">
<script src="/media/jquery-ui.min.js"></script>

<script type="text/javascript">
$(document).ready( function() {
})
</script>

<body>
<h1>Список ящиків</h1>
{% for box in boxes %}
{% comment %}
 <li><a href='/catalog/search/result/?locality={{box.locality}}'> {{box.locality}} </a> - кількість найменувань ({{box.icount}})</li> 
{% endcomment %}
<li><a href=/storage/box/{{box.locality}}/view/> {{box.locality}}</a>  - кількість найменувань ({{box.icount}})</li>
{% endfor %}
</body>

    


