<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN">
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />


<link rel="stylesheet" type="text/css" href="/media/table.css">


    <h1>Рахунки на виконані роботи</h1>
	
    <table border="1">
    <tr>
    	<th>ID</th>
    	<th>Клієнт</th>
    	<th>Дата завершення</th>
    	<th>Робота</th>
    	<th>Ціна (грн.)</th>
    	<th>Опис</th>
    	<th>Дія</th>
    </tr>
 
{% for type in workshop %}
<tr>
	<td>       
	{{type.id}}
	</td>
	<td>       
	{{type.client}}
	</td>
	<td>       
	{{type.date|date}}
	</td>
	<td>       
	{{type.work_type}}
	</td>	
	<td>       
	{{type.price}}
	</td>
	<td>       
	{{type.description}}
	</td>
	<td>
	<a href="/workshop/edit/{{ type.id }}">edit</a>
    <a href="/workshop/delete/{{ type.id }}">delete</a>
    </td>
</tr>
{% endfor %}   

 

    </table>


<br><br>
<a href="/">Головне меню (HOME)</a>
<br>
<a href="/workshop/add/">Створити новий вид роботи</a>       




