<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN">
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<link rel="stylesheet" type="text/css" href="/media/table.css">

    <h1>Каталог велосипедів (Bicycle Type List)</h1>

    <table border="1">
    <tr>
    	<th>ID</th>
    	<th>Назва моделі</th>
    	<th>Тип</th>
    	<th>Бренд</th>
    	<th>Рік</th>
    	<th>Колір</th>
    	<th></th>
    	<th>Фото</th>
    	<th>Вага</th>
    	<th>Ціна</th>
    	<th>Валюта</th>
    	<th>Опис</th>
    	<th>Дія</th>
    </tr>

{% for type in bicycles %}
<tr>
	<td>       
	<a href="/bicycle-store/add/{{type.id}}">{{type.id}}</a> 
	</td>
	<td>
	<a href="/bicycle/photo/{{type.id}}">{{type.model}}</a>       
	</td>
	<td>       
	{{type.type}}
	</td>
	<td>       
	{{type.brand}}
	</td>
	<td>       
	{{type.year}}
	</td>
	<td>       
	{{type.color}}
	</td>
	<td>       
	{{type.sizes}}
	</td>	
	<td>
<!-- 	<img src="/media/{{type.photo}}" alt="" title=""/>  -->       
	{{type.photo}}
	</td>	
	<td>       
	{{type.weight}}
	</td>
	<td>       
	{{type.price}}
	</td>
	<td>       
	{{type.currency}}
	</td>
	<td>
	{{type.description}}
	</td>
	<td>
    <a href="/bicycle/delete/{{ type.id }}">delete</a>
    </td>
</tr>
{% endfor %}   

    <table>


<br><br>
<a href="/">Головне меню (HOME)</a>
<br>
<a href="/bicycle/add/">Додати велосипед (Add)</a>
<br>
<a href="/bicycle-store/add/">Додати велосипед до магазину(Add)</a>        

