<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<link rel="stylesheet" type="text/css" href="/media/table.css">

    <h1>Список проданих велосипедів</h1>

    <table border="1">
    <tr>
    	<th>ID</th>
    	<th>Велосипед</th>
    	<th>Клієнт</th>
    	<th>Ціна</th>
    	<th>Валюта</th>
    	<th>Дата</th>
		<th>Сервіс</th>
		<th>Опис</th>    	
    	<th>Дія</th>
    </tr>    
    
{% for type in bicycles %}
<tr>
	<td>       
	{{type.id}}
	</td>
	<td>
	<a href="/bicycle/photo/{{type.model.model.id}}">{{type.model}}</a>       
	</td>
	<td>       
	<a href="/client/{{type.client.id}}">{{type.client}}</a> 
	</td>
	<td>       
	{{type.price}}
	</td>
	<td>       
	{{type.currency}}
	</td>
	<td>       
	{{type.date}}
	</td>
	<td>       
	{{type.service}}
	</td>	
	</td>
 	<td>
	{{type.description}}
	</td>
	<td>
    <a href="/bicycle/sale/delete/{{ type.id }}">delete</a>
    </td>
</tr>
{% endfor %}       
    
   
    
    <table>

<br><br>
<a href="/">HOME</a>
<br>
<a href="/bicycle/sale/add/">Add</a>        

