<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<link rel="stylesheet" type="text/css" href="/media/table.css">

    <h1>Список проданих велосипедів</h1>

    <table border="1">
    <tr>
    	<th>ID</th>
    	<th>Велосипед</th>
    	<th>Клієнт</th>
    	<th>Ціна</th>
    	<th>Валюта</th>
    	<th>Дата</th>
		<th>Сервіс</th>
		<th>Опис</th>    	
    	<th>Дія</th>
    </tr>    
    {% for manufacture in bicycles %}
    <tr>
{% for field in manufacture %}
<td>    {{field}} </td>
{% endfor %}
<td><a href="/bicycle/sale/delete/{{ manufacture|first }}">delete</a></td>
</tr>
{% endfor %}
    <table>

<br><br>
<a href="/">HOME</a>
<br>
<a href="/bicycle/sale/add/">Add</a>        

