<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN">
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<title>Замовленні велосипеди</title>

<link rel="stylesheet" type="text/css" href="/media/table.css">

<link rel="stylesheet" href="/media/jquery-ui.min.css">
<link rel="stylesheet" href="/media/css/jquery.dataTables.min.css">
<link rel="stylesheet" href="/media/css/dataTables.jqueryui.css">
 
<script type="text/javascript" src="/media/jquery-ui.min.js"></script>
<script type="text/javascript" language="javascript" src="/media/jquery.dataTables.min.js"></script>
<script type="text/javascript" language="javascript" src="/media/dataTables.jqueryui.js"></script>
<script src="/media/jquery.jeditable.mini.js" type="text/javascript" charset="utf-8"></script>

<script type="text/javascript">
$(document).ready(function() {
    // DataTable
    var table = $('#iTable').DataTable({
        "lengthMenu": [[10, 25, 50, 100, -1], [10, 25, 50, 100, "All"]],
        "iDisplayLength": 100,        
        "columnDefs": [
            {
                "targets": [ 1 ],
                "visible": false,
                "searchable": false
            },
            {
                "targets": [ 2 ],
                "visible": false
            },
            {
                "targets": [ 3 ],
                "visible": false
            },
            
        ],
    });
});
</script>


<h1>Список замовлених велосипедів ({{bicycles.count}}) <a href="/bicycle/order/add/">(Додати замовлення)</a></h1>
<h2>
    За рік: 
	<a href="/bicycle/order/year/2012/view">2012,</a>
	<a href="/bicycle/order/all/view">Всі</a>
</h2>    


<table border="1">
	<tr>
		<th>#</th>
		<th>ID</th>
		<th>Назва моделі</th>
		<th>Клієнт</th>
		<th>Тип</th>
		<th>Бренд</th>
		<th>Рік</th>
		<th>Колір</th>
		<th>Розмір</th>
		<th>Фото</th>
		<th>Вага</th>
		<th>Ціна</th>
		<th>Завдаток</th>
		<th>Валюта</th>
		<th>Статус</th>
		<!--    	<th>Опис</th> -->
		<th>Edit</th>
		<th>Дія</th>
	</tr>

	{% for type in order %}
		{% if type.done %}
	<tr>
	{% else %}
	<tr BGCOLOR="#94FF70">
	{% endif %}
	
		<td>{{forloop.counter}}</td>
		<td><a href="/bicycle-store/add/{{type.model.id}}">{{type.id}}</a></td>
		<td><a href="/bicycle/photo/{{type.model.id}}">{{type.model}}</a></td>
		<td><a href="/client/result/search/?id={{type.client.id}}">{{type.client}}</a></td>
		<td>{{type.model.type}}</td>
		<td>{{type.model.brand}}</td>
		<td>{{type.model.year.year}}</td>
		<td>{{type.model.color}}</td>
		<td>{{type.size}}</td>
		<td><!-- 	<img src="/media/{{type.photo}}" alt="" title=""/>  -->
		{{type.model.photo}}</td>
		<td>{{type.model.weight}}</td>
		<td>{{type.price}}</td>
		<td>{{type.prepay}}</td>
		<td>{{type.currency}}</td>
		
		<td><a href="/bicycle/order/{{type.id}}/done">{{type.done}}</td>
		<!-- 	<td>
	{{type.description}}
	</td>
 -->
		<td><a href="/bicycle/order/edit/{{ type.id }}">edit</a></td>

		<td><a href="/bicycle/order/{{ type.id }}/delete">delete</a></td>
	</tr>
	{% endfor %}

</table>

{% load poll_extras %}
{% orm_debug %}
