<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN">
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<link rel="stylesheet" type="text/css" href="/media/table.css">

{% if view %}

<br>
{% for company in company_list %}
<a href="/catalog/manufacture/{{company.id}}/view/">{{company.name}}</a>
{% endfor %}
<br>

{% endif %}

   
    <h1>Список Продукції  ({{catalog.count}})</h1>
    <a href="/catalog/add/">Додати новий товар</a>   
    <a href="{{url}}">Друкувати цінники</a>

    <table width="100%">

	<col width="1%" valign="top">
	<col width="5%" valign="top">
   	<col width="20%" valign="top">    
   	<col width="5%" valign="top">
   	<col width="10%" valign="top">
   	<col width="1%" valign="top">
   	<col width="1%" valign="top">
   	<col width="2%" valign="top">
   	<col width="9%" valign="top">
   	<col width="2%" valign="top">
   	<col width="2%" valign="top">
   	<col width="2%" valign="top">
   	<col width="2%" valign="top">
   	<col width="2%" valign="top">
   	<col width="2%" valign="top">
   	


    
	<tr>
    	<th>ID</th>
    	<th>Код</th>
    	<th>Назва</th>
    	<th>Виробник</th>
    	<th>Тип</th>
    	<th>Вага</th>
    	<th width="2%">Рік виготовлення</th>
    	<th>Дата закінчення розпродажу</th>
    	<th>Колір</th>
    	<th>Ціна</th>
    	<th>Валюта</th>
    	<th>Знижка (%)</th>
    	<th>Країна</th>
    	<th>Опис</th>
    	<th>Дія</th>
    	<th>Кількість</th>
    	<th>Наявність</th>
    </tr>

{% for type in catalog %}
{% ifequal type.sale 0 %}
<tr>
{% else %}
<tr BGCOLOR="#FF6600">
{% endifequal %}

	<td>       
	<abbr title="Додати товар до накладної"><a href="/invoice/catalog/{{ type.id }}/add">{{type.id}}</a></abbr>
	</td>
	<td>       
	{{type.ids}}
	</td>
	<td>       
	<a href="/catalog/edit/{{ type.id }}">{{type.name}}</a>
	</td>
	<td>       
	<a href="/catalog/manufacture/{{ type.manufacturer.id }}/view">{{type.manufacturer}}</a>
	</td>
	<td>       
	<a href="/catalog/type/{{type.type.id}}/view">{{type.type}}</a>
	</td>
	<td>       
	{{type.weight}}
	</td>	
	<td width="2%">       
	{{type.year}}
	</td>
	<td>       
	{{type.sale_to}}
	</td>
	<td>       
	{{type.color}}
	</td>
	<td>       
	{{type.price}}
	</td>
	<td>       
	{{type.currency}}
	</td>	
	<td>       
	{{type.sale}}
	</td>
	<td>       
	{{type.country}}
	</td>	
	<td>       
	{{type.description}}
	</td>
	<td>
	<!--
    <a href="/catalog/delete/{{ type.id }}" onclick="return confirm('Видалити запис?')">delete</a>
    -->
    </td>
    <td>
    {{type.count}}
    </td>
	<td>       
	<a href="/invoice/catalog/{{type.id}}/view/">Переглянути наявність</a>
	</td>
    
</tr>
{% endfor %}   
    
    
    <table>

<br><br>
<a href="/">HOME</a>    
<br>
<a href="/catalog/add/">Додати новий товар</a> 


