<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN">
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link rel="stylesheet" type="text/css" href="/media/table.css">
    <h1>Список Продукції</h1>

    <table>
	<tr>
    	<th>ID</th>
    	<th>IDs</th>
    	<th>Назва компанії</th>
    	<th>Опис</th>
    	<th>Адреса</th>
    	<th>Логотип</th>
    	<th>Країна</th>
    	<th>Дія</th>
    </tr>
{% for products in catalog %}
<tr>
{% for field in products %}
<td>    {{field}} </td>
{% endfor %}
<td><a href="/catalog/delete/{{ catalog|first }}">delete</a></td>
</tr>
{% endfor %}

    <table>

<br><br>
<a href="/">HOME</a>    
<br>
<a href="/catalog/add/">Add</a> 


