<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<html lang="en">
<head>
    <title>Список товару</title>
    <link rel="stylesheet" type="text/css" href="/media/table.css">
</head>
<body>
<script type="text/javascript">
setTimeout(function() {
    document.getElementById('result').innerHTML = (parseFloat(this.value)||0) * (parseFloat(document.getElementById('b').value)||0);
}, 100);
</script>

{% for company in company_list %}
<a href="/invoice/manufacture/{{company.id}}/view/">{{company.name}}</a>
{% endfor %}

    <h1>Список проданого товару</h1>
    <table border="1">
	<tr>
    	<th>#</th>	
    	<th>ID</th>
    	<th>Клієнт</th>
    	<th>Назва компонента</th>
    	<th>Кількість</th>
    	<th>Сума</th>
    	<th>Валюта</th>
    	<th>Знижка</th>    	
    	<th>Оплата</th>    	    	
    	<th>Дата</th>
    	<th>Опис</th>
    	<th>Дія</th>
    </tr>
    
{% load template_math %}    
    
{% for type in buycomponents %}
<tr>
	<td>
	{{forloop.counter}}
	</td>
	<td>       
    <a href="/client/invoice/{{type.id}}/edit">{{type.id}}</a>
	</td>
	<td>
	{{type.client}}       
	</td>
	<td>       
	{{type.catalog}}
	</td>
	<td>       
	<a href="">{{type.count}}</a>
	</td>
	<td>       
	{{type.sum}}
	</td>
	<td>       
	{{type.currency}}
	</td>
	<td>       
	{{type.sale}}
	</td>
	<td>       
	{{type.pay}}
	</td>	
	<td> 
	{{type.date}}
	</td>
	<td>
	{{type.description}}
	</td>
	<td>
    <a href="/client/invoice/{{type.id}}/delete/">delete</a>
    </td>
</tr>
{% endfor %}         
    
    	<tr>
    	<th></th>	
    	<th></th>
    	<th></th>
    	<th>Загальна кількість проданих товарів:</th>
    	<th>{{countall}}</th>
    	<th>{{sumall}}</th>
    	<th>грн.</th>
    	<th></th>    	
    	<th></th>    	    	
    	<th></th>
    	<th></th>
    	<th></th>
    </tr>
    
    <table>

<br>

</body>
</html>