<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<html lang="en">
<head>
    <title>Список товару</title>
    <link rel="stylesheet" type="text/css" href="/media/table.css">
</head>
<body>
<script type="text/javascript">
setTimeout(function() {
    document.getElementById('result').innerHTML = (parseFloat(this.value)||0) * (parseFloat(document.getElementById('b').value)||0);
}, 100);
</script>

<br>
<h2>
    За місяць: 
    <a href="/client/invoice/year/{{sel_year}}/month/1/view">01,</a>
	<a href="/client/invoice/year/{{sel_year}}/month/2/view">02,</a>
	<a href="/client/invoice/year/{{sel_year}}/month/3/view">03,</a>
	<a href="/client/invoice/year/{{sel_year}}/month/4/view">04,</a>
	<a href="/client/invoice/year/{{sel_year}}/month/5/view">05,</a>
	<a href="/client/invoice/year/{{sel_year}}/month/6/view">06,</a>
	<a href="/client/invoice/year/{{sel_year}}/month/7/view">07,</a>
	<a href="/client/invoice/year/{{sel_year}}/month/8/view">08,</a>
	<a href="/client/invoice/year/{{sel_year}}/month/9/view">09,</a>
	<a href="/client/invoice/year/{{sel_year}}/month/10/view">10,</a>
	<a href="/client/invoice/year/{{sel_year}}/month/11/view">11,</a>
	<a href="/client/invoice/year/{{sel_year}}/month/12/view">12</a>
</h2>    

<h2>
	За день:
	{% for day in month_days %}		 
    <a href="/client/invoice/year/{{sel_year}}/month/{{sel_month}}/day/{{day}}/view">{{day}},</a>
    {% endfor %}
</h2>    


    <h1>Список проданого товару</h1>
    <table border="1">
	<tr>
    	<th>#</th>	
    	<th>ID</th>
    	<th>Клієнт</th>
    	<th>Назва компонента</th>
    	<th>Кількість</th>
    	<th>Ціна</th>
    	<th>Сума</th>
    	<th>Валюта</th>
    	<th>Знижка, %</th>    	
    	<th>Оплата</th>    	    	
    	<th>Дата</th>
    	<th>Опис</th>
    	<th>Дія</th>
    </tr>
    
{% load template_math %}    
    
{% for type in buycomponents %}
<tr>
	<td>
	{{forloop.counter}}
	</td>
	<td>       
    <a href="/client/invoice/{{type.id}}/edit">{{type.id}}</a>
	</td>
	<td>
	<a href="/client/result/search/?id={{type.client.id}}">
	{{type.client}}       
	</a>
	</td>
	<td>       
	{{type.catalog}}
	</td>
	<td>       
	<a href="">{{type.count}}</a>
	</td>
	<td>       
	{{type.price}}
	</td>	
	<td>       
	{{type.sum}}
	</td>
	<td>       
	{{type.currency}}
	</td>
	<td>       
	{{type.sale}}
	</td>
	<td>       
	{{type.pay}}
	</td>	
	<td> 
	{{type.date}}
	</td>
	<td>
	{{type.description}}
	</td>
	<td>
    <a href="/client/invoice/{{type.id}}/delete/">delete</a>
    </td>
</tr>
{% endfor %}         
    
    	<tr>
    	<th></th>	
    	<th></th>
    	<th></th>
    	<th>Загальна кількість проданих товарів:</th>
    	<th>{{countall}}</th>
    	<th></th>
    	<th>{{sumall}}</th>
    	<th>грн.</th>
    	<th></th>    	
    	<th></th>    	    	
    	<th></th>
    	<th></th>
    	<th></th>
    </tr>
    
    <table>

<br>

</body>
</html>