<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN">
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<link rel="stylesheet" type="text/css" href="/media/table.css">

    <h1>Затрати <a href="/cost/add/">(Додати)</a> </h1>
	
    <table border="1">
    <tr>
    	<th>ID</th>
    	<th>Дата</th>
    	<th>Тип витрат</th>
    	<th>Ціна (грн.)</th>
    	<th>Опис</th>
    	<th>Дія</th>
    </tr>    


{% for type in costs %}
<tr>
	<td>       
	<a href="/cost/edit/{{ type.id }}">{{type.id}}</a>
	</td>
	<td>       
	{{type.date|date}}
	</td>
	<td>       
	{{type.cost_type}}
	</td>
	<td>       
	{{type.price}}
	</td>
	<td>       
	{{type.description}}
	</td>
	<td>
    <a href="/cost/delete/{{ type.id }}">delete</a>
    </td>
</tr>
{% endfor %}

    <tr>
    	<th></th>
    	<th></th>
    	<th>Сума</th>
    	<th>{{summ}} грн.</th>
    	<th></th>
    	<th></th>
    </tr>    


</table>


<br>
<br>
<a href="/cost/add/">Додати затрати</a>       
<br>
<a href="/">Головне меню (HOME)</a>



