<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN">
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />

<link rel="stylesheet" type="text/css" href="/media/table.css">

    <h1>Список валют</h1>

    <table>
    
    <tr>
    	<th>ID</th>
    	<th>Код</th>
    	<th>Скорочення</th>
    	<th>Назва</th>
    	<th>Країна</th>
    	<th>Дія</th>
    </tr>
    
	{% for type in currency %}
    <tr>

        <td>
            {{ type.id }}
        </td>
        <td>
            {{ type.ids }}
        </td>
        <td>
            {{ type.ids_char }}
        </td>
        <td>
            {{ type.name }}
        </td>
        <td>
            {{ type.country }}
        </td>
    
        <td>
            <a href="/curency/delete/{{ type.id }}">delete</a>
        </td>
    </tr>
    {% endfor %}    
   
    
    </table>


<br><br>
<a href="/">HOME</a>
<br>
<a href="/curency/add/">Add</a>       

