<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />

<link rel="stylesheet" type="text/css" href="/media/table.css">

    <h1>Рахунки</h1>

    <table border="1">
	<tr>
    	<th>ID</th>
    	<th>Номери накладних</th>
    	<th>Дата</th>
    	<th>Компанія</th>
    	<th>Менеджер</th>
    	<th>Сума</th>
    	<th>Валюта</th>
		<th>Файл</th>    	
		<th>Отримано</th>
		<th>Оплата</th>
    	<th>Опис</th>
    	<th>Дія</th>
    </tr>    
    
{% for type in dealer_invoice %}
<tr>
	<td>       
    <a href="/dealer/invoice/edit/{{ type.id }}">{{type.id}}</a>
	</td>
	<td>
	{{type.origin_id}}       
	</td>
	<td>       
	{{type.date|date:"D d M Y"}}
	</td>
	<td>       
	{{type.company.name}}
	</td>
	<td>       
	{{type.manager.name}}
	</td>
	<td>       
	{{type.price}}
	</td>
	<td>       
	{{type.currency}}
	</td>
	<td>       
	{{type.file}}
	</td>
	<td>       
	{{type.received|yesno:"Отримано,В дрозі,Не забрано"}}
	</td>
	<td>       
	{{type.payment}}
	</td>
 	<td>
	{{type.description}}
	</td>
	<td>
    <a href="/dealer/invoice/delete/{{ type.id }}">delete</a>
    </td>
</tr>
{% endfor %}             
    
    
    <table>

<br><br>
<a href="/">HOME</a>
<br>
<a href="/dealer/invoice/add/">Add</a>      
