<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />

{% load template_math %}

<link rel="stylesheet" type="text/css" href="/media/table.css">

    <h1>Рахунки <a href="/dealer/invoice/add/">(Додати)</a> </h1>

Курс валют на сьогодні:
<table border="1">
	<tr>
    	<th>ID</th>
    	<th>Дата</th>
    	<th>Валюта</th>
		<th>Курс</th>
    	<th>Дія</th>
    </tr>    
    
{% for type in exchange %}
<tr>
	<td>       
    <a href="/exchange/edit/{{ type.id }}">{{type.id}}</a>
	</td>
	<td>       
	{{type.date|date:"D d M Y"}}
	</td>
	<td>       
	{{type.currency}}
	</td>
 	<td>
	{{type.value}}
	</td>
	<td>
    <a href="/exchange/delete/{{ type.id }}">delete</a>
    </td>
</tr>
{% endfor %}             

</table>

<br>    
    

    <table border="1">
	<tr>
    	<th>ID</th>
    	<th>Номери накладних</th>
    	<th>Дата</th>
    	<th>Компанія</th>
    	<th>Менеджер</th>
    	<th>Сума</th>
    	<th>Валюта</th>
		<th>Файл</th>    
		<th>Сума в гривнях</th>	
		<th>Отримано</th>
		<th>Оплата</th>
    	<th>Опис</th>
    	<th>Дія</th>
    </tr>    
    
{% for type in dealer_invoice %}
{% if type.payment %}
<tr>
{% else %}
<tr BGCOLOR="#CCCC99">
{% endif %}

	<td>       
    <a href="/dealer/invoice/edit/{{ type.id }}">{{type.id}}</a>
	</td>
	<td>
	{{type.origin_id}}       
	</td>
	<td>       
	{{type.date|date:"D d M Y"}}
	</td>
	<td>       
	{{type.company.name}}
	</td>
	<td>       
	{{type.manager.name}}
	</td>
	<td>       
	{{type.price}}
	</td>
	<td>       
	{{type.currency}}
	</td>
	<td>       
	{{type.file}}
	</td>
	{% ifequal type.currency.id 2 %}
	<td>       
 	{{type.price|mul:exchange_d.value}} грн.
	</td>
	{% endifequal %}
	{% ifequal type.currency.id 4 %}
	<td>       
 	{{type.price|mul:exchange_e.value}} грн.
	</td>
	{% endifequal %}
	{% ifequal type.currency.id 3 %}
	<td>       
 	{{type.price}} грн.
	</td>
	{% endifequal %}
	<td>       
	{{type.received|yesno:"Отримано,В дорозі,Не забрано"}}
	</td>
	<td>       
	{{type.payment|yesno:"Оплачено,Не оплачено"}}
	</td>
 	<td>
	{{type.description}}
	</td>
	<td>
    <a href="/dealer/invoice/delete/{{ type.id }}" onclick="return confirm('Видалити накладну?')">delete</a>
    </td>
</tr>
{% endfor %}             
    
    	<tr>
    	<th></th>
    	<th></th>
    	<th></th>
    	<th></th>
    	<th></th>
    	<th></th>
    	<th></th>
		<th>Сума</th>
		<th>{{summ}}</th>	
		<th>Борг</th>
		<th>{{summ_debt}}</th>
    	<th></th>
    	<th></th>
    </tr>    
    
    </table>

<br>    




<br><br>
<a href="/">HOME</a>
<br>
<a href="/dealer/invoice/add/">Add</a>      
