<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<html lang="en">
<head>
    <title>Список товару</title>
    <link rel="stylesheet" type="text/css" href="/media/table.css">
</head>
<body>
<script type="text/javascript">
setTimeout(function() {
    document.getElementById('result').innerHTML = (parseFloat(this.value)||0) * (parseFloat(document.getElementById('b').value)||0);
}, 100);
</script>

    <h1>Список наявного товару</h1>

    <table border="1">
	<tr>
    	<th>#</th>	
    	<th>ID</th>
    	<th>№ накладної</th>
    	<th>Товар</th>
    	<th>Кількість</th>
    	<th>Ціна</th>
    	<th>Валюта</th>
    	<th>Сума</th>    	
    	<th>Дата</th>    	    	
    	<th>Опис</th>
    	<th>Дія</th>
    </tr>
    
{% load template_math %}    
    
{% for type in componentlist %}
<tr>
	<td>
	{{forloop.counter}}
	</td>
	<td>       
    <a href="/invoice/edit/{{type.id}}">{{type.id}}</a>
	</td>
	<td>
	{{type.invoice}}       
	</td>
	<td>       
	{{type.catalog}}s
	</td>
	<td>       
	{{type.count}}
	</td>
	<td>       
	{{type.catalog.price}}
	</td>
	<td>       
	{{type.catalog.currency}}
	</td>
	<td>       
	{{type.catalog.price|mul:type.count}}
	</td>
	<td> 
	{{type.date}}
	</td>
	<td>
	{{type.description}}
	</td>
	<td>
    <a href="/invoice/delete/{{type.id}}">delete</a>
    </td>
</tr>
{% endfor %}         
    
    <table>


<br><br>
<a href="/">HOME</a>
<br>
<a href="/invoice/add/">Add</a>      

</body>
</html>