<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN">
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />


<link rel="stylesheet" type="text/css" href="/media/table.css">

<br>
<h2>
    За місяць: 
    <a href="/workshop/year/{{sel_year}}/month/1/view">01,</a>
	<a href="/workshop/year/{{sel_year}}/month/2/view">02,</a>
	<a href="/workshop/year/{{sel_year}}/month/3/view">03,</a>
	<a href="/workshop/year/{{sel_year}}/month/4/view">04,</a>
	<a href="/workshop/year/{{sel_year}}/month/5/view">05,</a>
	<a href="/workshop/year/{{sel_year}}/month/6/view">06,</a>
	<a href="/workshop/year/{{sel_year}}/month/7/view">07,</a>
	<a href="/workshop/year/{{sel_year}}/month/8/view">08,</a>
	<a href="/workshop/year/{{sel_year}}/month/9/view">09,</a>
	<a href="/workshop/year/{{sel_year}}/month/10/view">10,</a>
	<a href="/workshop/year/{{sel_year}}/month/11/view">11,</a>
	<a href="/workshop/year/{{sel_year}}/month/12/view">12</a>
</h2>    

<h2>
	За день:
	{% for day in month_days %}		 
    <a href="/workshop/year/{{sel_year}}/month/{{sel_month}}/day/{{day}}/view">{{day}},</a>
    {% endfor %}
</h2>    



    <h1>Рахунки на виконані роботи <a href="/workshop/add/">(Додати)</a></h1>

	
    <table border="1">
    <tr>
    	<th>ID</th>
    	<th>Клієнт</th>
    	<th>Дата завершення</th>
    	<th>Робота</th>
    	<th>Ціна (грн.)</th>
    	<th>Опис</th>
    	<th>Дія</th>
    </tr>
 
{% for type in workshop %}
<tr>
	<td>       
	{{type.id}}
	</td>
	<td>       
	<a href="/client/result/search/?id={{type.client.id}}">
	{{type.client}}
	</a>
	</td>
	<td>       
	{{type.date|date}}
	</td>
	<td>       
	{{type.work_type}}
	</td>	
	<td>       
	{{type.price}}
	</td>
	<td>       
	{{type.description}}
	</td>
	<td>
	<a href="/workshop/edit/{{ type.id }}">edit</a>
    <a href="/workshop/delete/{{ type.id }}">delete</a>
    </td>
</tr>
{% endfor %}   

<tr>
    	<th></th>
    	<th></th>
    	<th></th>
    	<th>Сума</th>
    	<th>{{summ}} грн.</th>
    	<th></th>
    	<th></th>
</tr> 

</table>


<br><br>
<a href="/">Головне меню (HOME)</a>
<br>
<a href="/workshop/add/">Створити новий рахунок на виконані роботи</a>       




