<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN">
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />

<style>
	a.select {
		color: #FFFFFF;
		background-color:#006600;
	}
	a.non {
		color: #0000FF;
		background-color:#FFFFFF;
	}
</style>

<script type="text/javascript" src="/media/jquery-1.8.3.js"></script>	
<script src="/media/jquery.jeditable.mini.js" type="text/javascript" charset="utf-8"></script>

<script>
$(document).ready(function() {

$('.editable').editable('/workticket/edit/0/', { 
     loadurl : '/workstatus/view/',
     type   : 'select',
     submit : 'OK',
     submitdata : function() {
      	 	return {id_w : $(this).attr('id_workticket')};
     },
     callback : function(value, settings) {
         // console.log($(this));
         // console.log("value = "+value);
         // console.log(settings);
         // console.log($('.editable.select'));
          
         if (value == 'Прийнято') {
         $(this).closest("tr").attr('BGCOLOR', '#CCFF99');
         }
         if (value == 'Ремонтується') {
         $(this).closest("tr").attr('BGCOLOR', '#FFFF99');
         }
         else {
         $(this).closest("tr").attr('BGCOLOR', '#FFFFFF');
         }
         console.log("pp="+$(this).innerHTML);
     }
 });
});

</script>

<br>
<h2>
    За рік: 
    <a href="/workticket/year/2012/month/1/view">2012,</a>
	<a href="/workticket/year/2013/month/12/view">2013,</a>
	<a href="/workticket/year/2014/month/1/view">2014,</a>
<br>
	За місяць: 
	{% for i in "123456789012" %}
	{% ifequal forloop.counter sel_month %}
    <a href="/workticket/year/{{sel_year}}/month/{{forloop.counter}}/view" class="select">{{forloop.counter}}</a>,
    {% else %}
    <a href="/workticket/year/{{sel_year}}/month/{{forloop.counter}}/view" class="non">{{forloop.counter}}</a>,
    {% endifequal %}
	{% endfor %}
	
	<a href="/workticket/all/view" class="non">Всі</a>
</h2>    


        <link rel="stylesheet" type="text/css" href="/media/table.css">

	<h1>Замовлення на ремонт</h1>
    	
    <table border="1">
    <tr>
    	<th>ID</th>
    	<th>Клієнт</th>
    	<th>Дата створення</th>
    	<th>Дата завершення</th>
    	<th>Статус</th>
    	<th>Опис</th>
    	<th>Дія</th>
    </tr>
      
{% for type in workticket %}
{% ifequal type.status.id 3 %}
<tr>
{% else %}
<tr BGCOLOR="#CCFF99">
{% endifequal %}

	<td>       
	{{type.id}}
	</td>
	<td>       
<!--	<a href="/workshop/done/client/{{ type.client.id }}/"> -->  
	<a href="/client/result/search/?id={{ type.client.id }}">
	{{type.client}}
	</a>
	</td>
	<td>       
	{{type.date|date}}
	</td>
	<td>       
	{{type.end_date|date}}
	</td>	
	<td>
<!-- 	<a href="/workticket/edit/{{ type.id }}/">  -->

	<span class="editable" id="{{type.status.id}}" style="display: inline" id_workticket="{{type.id}}">       
	{{type.status}}
	</span>
	
	</td>
	<td>       
	{{type.description}}
	</td>
	<td>
    <a href="/workticket/delete/{{ type.id }}">delete</a>
    </td>
</tr>
{% endfor %}       
      
   
	</table>


<br><br>
<a href="/workticket/add/">Створити нову заявку на ремонт</a>
<br>




